<section>
  <h2>Conference speakers</h2>

  @if (speakers().length > 0) {
  <ul>
    @for (speaker of speakers(); track speaker.id) {
    <li>
      <ng-container [ngTemplateOutlet]="speakerTemplate"
                    [ngTemplateOutletContext]="{ $implicit: speaker }">
      </ng-container>

      @if (speaker.bio) {
      <p>{{ speaker.bio }}</p>
      }

      @if (speaker.webSite) {
      <a [href]="speaker.webSite" target="_blank">
        Website
      </a>
      }
    </li>
    }
  </ul>
  } @else {
  <p>No speakers available.</p>
  }

  <ng-template #speakerTemplate let-speaker>
    <strong>{{ speaker.name }}</strong>
  </ng-template>
</section>
