@if (speakers().length > 0) {

<ul>

  @for (speaker of speakers(); track speaker.id) {

  <li [ngClass]="{ 'has-bio': !!speaker.bio }">

    <ng-container [ngTemplateOutlet]="speakerTemplate"
                  [ngTemplateOutletContext]="{ $implicit: speaker }">
    </ng-container>

    @if (speaker.bio) {
    <p>{{ speaker.bio }}</p>
    }

    @if (speaker.webSite) {
    <a [href]="speaker.webSite"
       target="_blank">
      Website
    </a>
    }

  </li>

  } @empty {

  <li>No speakers available.</li>

  }

</ul>

} @else {

<p>No speakers available.</p>

}

<ng-template #speakerTemplate let-speaker>
  <strong>{{ speaker.name | speakerName }}</strong>
</ng-template>
