<main>
  <h1>Conference management</h1>

  <app-speaker-list [speakers]="speakers"></app-speaker-list>

  <app-speaker-form></app-speaker-form>

  @if (uiState() === 'filled') {
  @if (submittedSpeaker(); as speaker) {
  <section>
    <h2>Submitted speaker</h2>

    <p>
      <strong>Name:</strong>
      {{ speaker.name }}
    </p>

    <p>
      <strong>Biography:</strong>
      {{ speaker.bio || 'Not provided' }}
    </p>

    <p>
      <strong>Website:</strong>
      {{ speaker.webSite || 'Not provided' }}
    </p>
  </section>
  }
  } @else {
  <p>No speaker has been submitted yet.</p>
  }
</main>
